# Replace remarks with your data then rename
# this file to "makefile.secrets"

trino_glue_region := #Glue_AWS_region
trino_glue_access_key := #AWS_IAM Access_Key
trino_glue_secret_key := #AWS_IAM_Secret_Key
